<fieldset>
  <legend>Attachable Items Plugin Settings</legend>
  <p>
    <label>Issue label:</label><%= text_field_tag 'settings[issue_label]', settings['issue_label'] %>
  </p>
</fieldset>

<!-- Can be reached by Setting['plugin_attitems']['issue_label'] -->
