<fieldset>
  <legend>Attachable Items Plugin Settings</legend>
  <p>
    <label>Label name</label><%= text_field_tag 'settings[label_name]', settings['label_name'] %>
  </p>
</fieldset>

<!-- Can be reached by Setting['plugin_attitems']['label_name'] -->
