<% if @project.module_enabled?("items") == true %>
  <p>
  <b><%= label :items, Setting['plugin_attitems']['issue_label'] %></b>

  <% @itemsissues = ItemsIssue.where(issue_id: params[:id]) %>
    <% @itemsissues.each do |itemsissue| %>
      <% unless itemsissue == nil %>
        <% @item = Item.find(itemsissue.item_id) %>
      <% end %>
      <% unless @item == nil %>
        <%= @item.unique_name %>,
      <% end %>
    <% end %>
  </p>
<% end %>
