<% if @project.module_enabled?("items") == true %>

  <p>
  <%= label :items, Setting['plugin_attitems']['issue_label'] %>
  <%
    if params[:project_id] != nil
      @project = Project.find(params[:project_id])
    else
      @issue = Issue.find(params[:id])
      @project = Project.find(@issue.project_id)
    end

    @itemsissues = ItemsIssues.find_all_by_issues_id(params[:id])


    @project_items = Item.find(:all).select {|i| i.project_id == @project.id }
    @options = Array.new
    @selectedoptions = Array.new
    @project_items.each do |item|
      @options.push([item.unique_name, item.id])
      if @itemsissues.detect{|w| w.items_id == item.id } != nil
        @selectedoptions.push(item.id)
      end
    end
  %>
  <%= select :items, :item_ids, options_for_select(@options, @selectedoptions), {}, {:multiple => true} %>
  </p>
<% end %>
